<div class="row forgot-container justify-content-center align-item-center px-5">
  <h5 class="text-center text-success">{{successMsg}}</h5>
  <h5 class="text-center text-danger">{{errMsg}}</h5>
  <div class="col-md-12 text-center mb-1">
    <h3>New Password</h3>

  </div>
  <div class="col-md-6 ">
    <div class="card">
      <div class="card-body">
        <form novalidate [formGroup]="resetPasswordForm">
            <div class="md-form mb-3">
                <input type="password" id="Form-pass1" placeholder="Password" class="form-control" mdbInput mdbValidate
                  formControlName="password">
                <!-- <label for="Form-pass1">Your password</label> -->
                <small class="text-danger"
                  *ngIf="password.invalid && (password.dirty || password.touched)">
                  Input invalid
                </small>
                <small class="text-success" *ngIf="password.valid && (password.dirty || password.touched)">
                  Input valid
                </small>
              </div>
          <div class="md-form mb-3">
            <input type="password" id="Form-pass1" placeholder="Confirm Password" class="form-control" mdbInput mdbValidate
              formControlName="confirmPassword">
            <!-- <label for="Form-pass1">Your confirmPassword</label> -->
            <small class="text-danger"
              *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
              {{mustMatch}}
            </small>
            <small class="text-success" *ngIf="confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)">
              Input valid
            </small>
          </div>

          <div class="text-center mt-2">
            <button (click)="resetPassword()" type="submit" mdbBtn color="warning" [disabled]="disabledSubmitButton"
              block="true" rounded="true" class="z-depth-1a waves-light btn btn-warning btn-rounded btn-block"
              mdbWavesEffect>Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
