<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-center">
                    <h4 class="mt-5 text-center">Available Spaces</h4>

                    

                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <div class="col-12 text-center">
                <div *ngIf="isloaded" class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
               </div>
            <div *ngIf="!isloaded" class="col-md-12 ">
                <div *ngFor="let space of spaces  | paginate: { itemsPerPage: 6, currentPage: p };" class="row card card-list ">
                    <div class="col-md-10  card-list-left ">
                        <div class="d-flex justify-content-between">
                            <div class="row">
                                <img style="width: 70px;" src={{space.details.img[0]}} alt="">
                                <p class="pt-4 pl-3 p-detail">{{space.details.title}}</p></div>
                                <p class=" pt-4 p-detail">N{{space.details.price}}</p>
                         </div>
                    </div>                                                                            
                    <a class="col-md-2  pt-4 text-center h6 text-light">View</a>
                </div>     
            </div>
           

           
        </div>
        
        
              
                <div class="col-md-12">
                 <section class="pagination-container">
                     <nav>
                       <pagination-controls class="pagination pull-left" (pageChange)="p = $event"></pagination-controls>
                       <!-- <ul class="pagination pull-left"> -->
                         <!-- <li 
                         *ngFor="let page of pagesArray; let index = index"
                         [ngClass]="{ 'active': currentPage === index + 1 }"
                         (click)="setPage(index + 1)"><a>{{ index + 1 }}</a></li>                  
                       </ul> -->
                       <!-- <jw-pagination [items]="spaces" (changePage)="onChangePage($event)"></jw-pagination> -->
                       
                     </nav>
                     
                     
                   </section>
                </div>
        
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
