<nav class="navbar navbar-expand-lg navbar-dark user-nav rounded-0 ">
  <a class="navbar-brand" href="/">
    <img class="logo" src="assets/img/lifthub.png" alt="">
  </a>   
 
  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav">
    
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Work Spaces <span class="sr-only">(current)</span> </a>
        <ul class="dropdown-menu" style="top:10 !important"  aria-labelledby="navbarDropdownMenuLink">
            <li><a (click)="goto('office/private')" class="dropdown-item" >Private Offices</a></li>
            <li><a (click)="goto('office/shared')" class="dropdown-item" >Shared Office</a></li>
            <li><a (click)="goto('office/co-working')" class="dropdown-item" >Co-working spaces</a></li>
            <li><a (click)="goto('office/open')" class="dropdown-item" >Open Work Spaces</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Event Spaces </a>
        <ul class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Host an Event</a>
                <ul class="dropdown-menu" style="top:0 !important">
                    <li><a (click)="goto('events/picnics')" class="dropdown-item" >Picnics</a></li>
                    <li><a (click)="goto('events/meeting')" class="dropdown-item" >Meetings</a></li>
                    <li><a (click)="goto('events/trainings')" class="dropdown-item" >Trainings</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Meeting spaces</a>
                <ul class="dropdown-menu" style="top:0 !important">
                    <li><a (click)="goto('events/private meeting')" class="dropdown-item" >Private Meeting</a></li> 
                    <li><a (click)="goto('events/board meeting')" class="dropdown-item" >Board Meeting</a></li> 
                    <li><a (click)="goto('events/group meeting')" class="dropdown-item" >Group Meeting</a></li>
                    <li><a (click)="goto('events/reception')" class="dropdown-item" >Receptions</a></li>
                </ul>
            </li>
            <li><a (click)="goto('events/conference')" class="dropdown-item" >Conference spaces</a>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Learning spaces</a>
                <ul class="dropdown-menu" style="top:0 !important">
                    <li><a (click)="goto('events/trainings')" class="dropdown-item" >Trainings</a></li>
                    <li><a (click)="goto('events/seminars')" class="dropdown-item" >Seminars</a></li>
                    <li><a (click)="goto('events/meetups')" class="dropdown-item" >Meetups</a></li>
                    <li><a (click)="goto('events/lectures')" class="dropdown-item" >Lectures</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Fun Spaces </a>
      <ul class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Reserve</a>
              <ul class="dropdown-menu" style="top:0 !important">
                  <li><a (click)="goto('funplaces/restaurant')" class="dropdown-item" >Restaurant</a></li>
                  <li><a (click)="goto('funplaces/pub')" class="dropdown-item" >Pub</a></li>
                  <li><a (click)="goto('funplaces/bar')" class="dropdown-item" >Bar</a></li>
                  <li><a (click)="goto('funplaces/coffee')" class="dropdown-item" >Coffee Shop</a></li>
                  <li><a (click)="goto('funplaces/library')" class="dropdown-item" >Library</a></li>
              </ul>
          </li>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Lifestyle</a>
              <ul class="dropdown-menu" style="top:0 !important">
                  <li><a (click)="goto('funplaces/movies')" class="dropdown-item" >Movies</a></li>
                  <li><a (click)="goto('funplaces/concert')" class="dropdown-item" >Concerts</a></li>
                  <li><a (click)="goto('funplaces/boat ride')" class="dropdown-item" >Boat ride</a></li>                            
              </ul>
          </li>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Night Life</a>
              <ul class="dropdown-menu" style="top:0 !important">
                  <li><a (click)="goto('funplaces/club')" class="dropdown-item" >Book a club</a></li>
                  <li><a (click)="goto('funplaces/table')" class="dropdown-item" >Book a table at a club</a></li>                            
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Host an event</a>
              <ul class="dropdown-menu" style="top:0 !important">
                  <li><a (click)="goto('funplaces/bonfire')" class="dropdown-item" >Bonfire night</a></li>
                  <li><a (click)="goto('funplaces/barbecue')" class="dropdown-item" >Barbecue party</a></li>
                  <li><a (click)="goto('funplaces/stargazing')" class="dropdown-item" >Stargazing</a></li>
              </ul>
          </li>
              </ul>
          </li>
      </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Bed Spaces </a>
    <ul class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Single bedrooms</a>
            <ul class="dropdown-menu" style="top:0 !important">
                <li><a (click)="goto('bedspace/single bed', 'Single bedrooms with one bed')" class="dropdown-item" >Single bedrooms with one bed</a></li>
                <li><a (click)="goto('bedspace/double bed', 'Single bedrooms with double bed')" class="dropdown-item" >Single bedrooms with double beds</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu"><a (click)="goto('bedspace/executive bedroom', 'Executive bedrooms')" class="dropdown-item">Executive bedrooms</a>
            
        </li>
        <li class="dropdown-submenu"><a (click)="goto('bedspace/executive suite', 'Executive suite')" class="dropdown-item">Executive suite</a>
        </li>
        <li class="dropdown-submenu"><a (click)="goto('bedspace/luxury suite', 'Luxury suite')" class="dropdown-item">Luxury suite</a>
        </li>
        <li class="dropdown-submenu"><a (click)="goto('bedspace/apartment', 'Apartments')" class="dropdown-item">Apartments</a>
        </li>
    </ul>
</li>  
    </ul>
    <ul  class="nav  mr-5 profile-dropdown">  
      <li class="nav-item dropdown has-arrow main-drop mr-5">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
          <span class="user-img"><img src="assets/img/profiles/avatar-21.jpg" alt="">
          <span class="status online"></span></span>
          <span><i class="las la-user"></i></span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" 
          *ngIf="isLoggedIn"
          routerLink="/user"
          data-effect="mfp-zoom-in"           
          >My Profile</a>
          <a class="dropdown-item" class="dropdown-item" 
          *ngIf="isLoggedIn"
          (click)="logout()"
          data-effect="mfp-zoom-in" >Logout</a>
          <a class="dropdown-item" 
          *ngIf="!isLoggedIn"
          data-effect="mfp-zoom-in"
          data-toggle="modal" 
          data-target=".bs-modal-sm"            
          id="triggerLogin"
          >Login</a>
        </div>
      </li>
      <li>
          
        </li>
      <li>
         
        </li>
  </ul>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
