<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-center">
                    <h4 class="mt-5 text-center">Occupants</h4>

                    

                </div>
            </div>
        </div>
        <!-- end page title -->

                
                <div *ngFor="let space of spaces" class=" row card py-1">
                   
                        <div class="col-12 d-flex ">                            
                                <div class="avater-container">
                                    <img class="rounded-circle avater" style="width: 40px;" src="https://image.flaticon.com/icons/svg/929/929422.svg" alt="">
                               
                                </div>
                                <div class="mr-auto pr-4 flex-grow-1">
                                    <p class="pt-3 pl-4 p-detail mb-0 text-dark">{{space.bookings[0].user.username}}</p>
                                    <span class="pt-4 pl-4  text-dark">{{space.details.title}}</span>
                                </div>
                                <button  class="btn btn-primary view-btn text-light view-btn">View</button>
                        </div>
                       
                        <div class="col-4 ">

                        </div>
        </div>
        
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

