.avater-container{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #E8F5FF;
}

.view-btn{
    margin-top: .7em;
    margin-bottom: .7em;
    border-radius: 20px;
    width: 100px;;
    font-size: medium;
}