.date-picker{
    width: 100% !important;
    background: #000;
}
.flatpickr-input{
    width: 100px !important;
}
.item-result {
    min-height: 305px;
}

.item-location:before {
    display: none;
    content: '';
    position: absolute;
    left: 0;
    color: rgba(51,51,51,0.6);
}