<div>
    <div>
      <section class="top-container">
        <!---->
        <div         
          class="item-banner"
          style="cursor: pointer; height: 370px;"
        >
          <img
           
            src={{spaceData.details.img[0]}}
            alt={{spaceData.details.name}}
            title="Rent Lounge at Wonderland in Nigeria"
            style="width: 100%; height: 100%; object-fit: cover;"
          />
        </div>
      </section>
      <section class="content-container">
        <div class="container">
          <div class="trigger-container" style="">
            <a
             
              id="click_gallery"
              data-toggle="modal" 
              data-target=".bs-example-modal-lg"
              
              data-effect="mfp-zoom-in"
              class="photo-btn popup-inline"
              ><i
               
                aria-hidden="true"
                class="fa fa-picture-o"
              ></i>
              Photos</a
            >
            <a class="locate-btn"
              ><i
               
                aria-hidden="true"
                class="fa fa-map-marker"
              ></i>
              Location</a
            >
          </div>
          <div class="row profile-container">
            <div class="col-sm-8">
              <div class="profile-info">
                <h1>{{spaceData.details.name}}</h1>
                <div class="item-address">
                  <p>
                    <i
                     
                      aria-hidden="true"
                      class="fa fa-location-arrow"
                    ></i>
                    {{spaceData.details.location}}
                  </p>
                  <p>
                    <i
                     
                      aria-hidden="true"
                      class="fa fa-user"
                    ></i>
                    Accomodates: <b>{{spaceData.details.capacity}} guests</b>
                  </p>
                </div>
                <div class="item-desc">                 
                  <p style="white-space: pre-line;overflow-wrap: break-word;">
                    {{spaceData.details.description}}
                    <!---->
                  </p>
                </div>
                <div class="item-fb">
                  <h3>Food &amp; Beverages Options</h3>
                  <ul class="row">
                    <li *ngFor="let service of serviceList" class="col-sm-4">
                      <input (change)="FieldsChange($event)"  value={{service.value}} id ="breakfast" type="checkbox"  />      
                      {{service.name}}
                    </li>                    
                   
                  </ul>
                </div>
                <hr/>
                <div class="item-ammenities">
                  <h2>Amenities</h2>
                  <ul class="row">
                    <li *ngFor="let amenity of spaceAmenities" class="col-sm-4">
                      <img
                       
                        width="35px"
                        height="30px"
                        src={{amenity.path}}
                      />{{amenity.label}}
                    </li>
                    
                  </ul>
                </div>
               
                
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item-price-info">
                <div class="item-price-actual">
                  <div class="tab-content">
                    <div                     
                      role="tabpanel"
                      id="book"
                      class="tab-pane fade active in"
                    >
                      <h3>
                        Book Space for &nbsp;<span> ₦{{spacePrice + services}} </span>
                      </h3>
                    </div>
                  </div>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flatpickr  my-3">
                  <div class="form-group">
                    <label for="checkin"><small>Check In</small></label>
                    <ng2-flatpickr  #startPicker [config]="checkinOptions" formControlName="checkin"></ng2-flatpickr>                    
                  </div>
                  <div class="form-group">
                    <label for="checkout"><small>Check In</small></label>
                    <ng2-flatpickr class="date-picker" #endPicker [config]="checkoutOptions" formControlName="checkout"></ng2-flatpickr>                    
                  </div>
                  <div class="form-group">
                    <label class="text-center"><small>Recurring Date (Optional)</small></label>
                    <select class="form-control" formControlName="recurringType"  id="recurringOption" required>
                      <option value="none" disabled selected>Type</option>                 
                        <option  value="none" >None</option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>                  
                    </select> 
                  </div>
                  <div class="form-group">
                    <label for="recurringDate"><small>Date</small></label>
                    <ng2-flatpickr  #srecurringDatePicker [config]="recurringOption" formControlName="recurringDate"></ng2-flatpickr>                    
                  </div> 
                  <button type="submit" class=" enquiry-btn w-100 d-flex">
                    <i class="fa fa-building-o"></i>
                    Book
                  </button>                 
              </form>
                <div class="trigger-enquiry">
                  <p class="text-center">OR</p>
                  <a class="btn btn-block btn-info"
                    ><i
                     
                      aria-hidden="true"
                      class="fa fa-paper-plane"
                    ></i>
                   Send an Enquiry</a
                  >
                 
                </div>
                <div class="call-us text-center">
                  <p>or call us directly</p>
                  <h3>9146 XXXX</h3>
                  <a
                    ><p>Show contact number</p></a
                  >
                </div>
                <div class="venue-info">
                  <div class="venue-info-content">
                    <a
                     
                      href="/venues/wonderland/925"
                      class=""
                      ><div
                       
                        class="venue-thumbnail"
                        style="
                          background-image: url('https://lifthub.org/images/160290cdb0652b0525e8191290986af1.png');
                        "
                      ></div>
                      <h5>This space is hosted by</h5>
                      <h4>Lifthub</h4></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          
          <h6>Location</h6>
          <a id="locate-map"></a>
          <ul class="map-container">
            <p>52B Temple Street</p>
            <p>Nigeria 058597</p>
            <div class="map-container">
              <a
                href="http://maps.google.com/?q=1.283326,103.84361000000001"
                target="_blank"
                ><div
                  id="space_loc_div"
                  style="
                    max-width: 100%;
                    width: 100%;
                    height: 400px;
                    position: relative;
                    overflow: hidden;
                  "
                >
                  <div
                    style="
                      height: 100%;
                      width: 100%;
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      background-color: rgb(229, 227, 223);
                    "
                  >
                    <div style="overflow: hidden;"></div>
                    <div
                      class="gm-style"
                      style="
                        position: absolute;
                        z-index: 0;
                        left: 0px;
                        top: 0px;
                        height: 100%;
                        width: 100%;
                        padding: 0px;
                        border-width: 0px;
                        margin: 0px;
                      "
                    >
                      <div
                        tabindex="0"
                        style="
                          position: absolute;
                          z-index: 0;
                          left: 0px;
                          top: 0px;
                          height: 100%;
                          width: 100%;
                          padding: 0px;
                          border-width: 0px;
                          margin: 0px;
                          cursor: url('https://maps.gstatic.com/mapfiles/openhand_8_8.cur'),
                            default;
                          touch-action: pan-x pan-y;
                        "
                      >
                        <div
                          style="
                            z-index: 1;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            width: 100%;
                            transform: translate(0px, 0px);
                          "
                        >
                          <div
                            style="
                              position: absolute;
                              left: 0px;
                              top: 0px;
                              z-index: 100;
                              width: 100%;
                            "
                          >
                            <div
                              style="
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                z-index: 0;
                              "
                            >
                              <div
                                style="
                                  position: absolute;
                                  z-index: 985;
                                  transform: matrix(1, 0, 0, 1, -19, -46);
                                "
                              >
                                <div
                                  style="
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    width: 256px;
                                    height: 256px;
                                  "
                                >
                                  <div
                                    style="width: 256px; height: 256px;"
                                  ></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="
                              position: absolute;
                              left: 0px;
                              top: 0px;
                              z-index: 101;
                              width: 100%;
                            "
                          >
                            <div
                              style="
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                z-index: 30;
                              "
                            >
                              <div
                                style="
                                  position: absolute;
                                  z-index: 985;
                                  transform: matrix(1, 0, 0, 1, -19, -46);
                                "
                              >
                                <div
                                  style="
                                    width: 256px;
                                    height: 256px;
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                  "
                                >
                                  <canvas
                                    width="384"
                                    height="384"
                                    draggable="false"
                                    style="
                                      width: 256px;
                                      height: 256px;
                                      user-select: none;
                                      position: absolute;
                                      left: 0px;
                                      top: 0px;
                                    "
                                  ></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="
                              position: absolute;
                              left: 0px;
                              top: 0px;
                              z-index: 102;
                              width: 100%;
                            "
                          ></div>
                          <div
                            style="
                              position: absolute;
                              left: 0px;
                              top: 0px;
                              z-index: 103;
                              width: 100%;
                            "
                          >
                            <div
                              style="
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                z-index: -1;
                              "
                            >
                              <div
                                style="
                                  position: absolute;
                                  z-index: 985;
                                  transform: matrix(1, 0, 0, 1, -19, -46);
                                "
                              >
                                <div
                                  style="
                                    width: 256px;
                                    height: 256px;
                                    overflow: hidden;
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                  "
                                ></div>
                              </div>
                            </div>
                            <div
                              style="
                                width: 27px;
                                height: 43px;
                                overflow: hidden;
                                position: absolute;
                                left: -14px;
                                top: -43px;
                                z-index: 0;
                              "
                            >
                              <img
                                alt=""
                                src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png"
                                draggable="false"
                                style="
                                  position: absolute;
                                  left: 0px;
                                  top: 0px;
                                  width: 27px;
                                  height: 43px;
                                  user-select: none;
                                  border: 0px;
                                  padding: 0px;
                                  margin: 0px;
                                  max-width: none;
                                "
                              />
                            </div>
                          </div>
                          <div
                            style="
                              position: absolute;
                              left: 0px;
                              top: 0px;
                              z-index: 0;
                            "
                          ></div>
                        </div>
                        <div
                          class="gm-style-pbc"
                          style="
                            z-index: 2;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            padding: 0px;
                            border-width: 0px;
                            margin: 0px;
                            left: 0px;
                            top: 0px;
                            opacity: 0;
                          "
                        >
                          <p class="gm-style-pbt"></p>
                        </div>
                        <div
                          style="
                            z-index: 3;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            padding: 0px;
                            border-width: 0px;
                            margin: 0px;
                            left: 0px;
                            top: 0px;
                            touch-action: pan-x pan-y;
                          "
                        >
                          <div
                            style="
                              z-index: 4;
                              position: absolute;
                              left: 50%;
                              top: 50%;
                              width: 100%;
                              transform: translate(0px, 0px);
                            "
                          >
                            <div
                              style="
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                z-index: 104;
                                width: 100%;
                              "
                            ></div>
                            <div
                              style="
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                z-index: 105;
                                width: 100%;
                              "
                            ></div>
                            <div
                              style="
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                z-index: 106;
                                width: 100%;
                              "
                            >
                              <div
                                title="Drag Me"
                                style="
                                  width: 43px;
                                  height: 59px;
                                  overflow: hidden;
                                  position: absolute;
                                  opacity: 0;
                                  cursor: pointer;
                                  touch-action: none;
                                  left: -22px;
                                  top: -51px;
                                  z-index: 0;
                                "
                              >
                                <img
                                  alt=""
                                  src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png"
                                  draggable="false"
                                  style="
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    width: 43px;
                                    height: 59px;
                                    user-select: none;
                                    border: 0px;
                                    padding: 0px;
                                    margin: 0px;
                                    max-width: none;
                                  "
                                />
                              </div>
                            </div>
                            <div
                              style="
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                z-index: 107;
                                width: 100%;
                              "
                            >
                              <div
                                style="
                                  z-index: -202;
                                  cursor: pointer;
                                  display: none;
                                  touch-action: none;
                                "
                              >
                                <div
                                  style="
                                    width: 30px;
                                    height: 27px;
                                    overflow: hidden;
                                    position: absolute;
                                  "
                                >
                                  <img
                                    alt=""
                                    src="https://maps.gstatic.com/mapfiles/undo_poly.png"
                                    draggable="false"
                                    style="
                                      position: absolute;
                                      left: 0px;
                                      top: 0px;
                                      user-select: none;
                                      border: 0px;
                                      padding: 0px;
                                      margin: 0px;
                                      max-width: none;
                                      width: 90px;
                                      height: 27px;
                                    "
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <iframe
                        aria-hidden="true"
                        frameborder="0"
                        tabindex="-1"
                        style="
                          z-index: -1;
                          position: absolute;
                          width: 100%;
                          height: 100%;
                          top: 0px;
                          left: 0px;
                          border: none;
                        "
                      ></iframe>
                    </div>
                  </div></div
              ></a>
            </div>
          </ul>
        </div>
       
        <div class="similar-venues">
          <div class="container" style="">
            <h4 class="text-center">
              View similar spaces
            </h4>
            <br /><br />
            <div class="item-list">
              <div>
                <!---->
                <ul class="row">
                  <li *ngFor="let similar of similar" class="col-sm-4">
                    <div class="item-result">
                      <a
                       
                        href="/spaces/x/1736"
                        target="_blank"
                        ><div class="item">
                          <div
                           
                            class="item-img"
                            style="
                              background-image: url({{similar.details.img[0]}});
                            "
                          ></div>
                        </div>
                        <div class="item-pricing-cap">
                          <span class="item-cap"
                            ><i
                             
                              aria-hidden="true"
                              class="fa fa-user"
                            ></i>
                            <b>80</b></span
                          >
                          <span class="item-pricing"
                            ><b>{{similar.details.price}}</b></span
                          >
                        </div>
                        <div class="item-info">
                          <h4 class="item-room-title">
                            {{similar.details.name}}
                          </h4>
                          <!-- <p class="item-venue-title">
                            {{similar.details.location}}
                          </p> -->
                          <h5 class="item-location mt-0">
                            <i class="las la-map-marker"></i>
                            <span>{{similar.details.location}}</span>
                          </h5>
                        </div></a
                      >
                    </div>
                  </li>
                  
                </ul>
                <!---->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Space Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
        
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div *ngFor="let img of spaceData.details.img; let k = index" [ngClass]="k == 0 ? 'item active' : 'item'">
           <img class="img-responsive" src={{img}} alt="...">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
          </div>
        </div>
      </div>
  </div>
