@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");

#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: #34546D;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
 
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0;
}
.navbar-header .dropdown.show .header-item {
  background-color: #fafafa;
}
.navbar-brand-box {
  padding: 0 1.5rem;
  width: 300px;
}
.logo {
  /* line-height: 70px; */
}


@media (max-width: 991px) {
  .navbar-brand-box {
    width: auto;
  }
  
}
.page-content {
  padding: calc(30px + 24px) calc(24px / 2) 60px calc(24px / 2);
}
.header-item {
  height: 70px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #636e75;
  border: 0;
  border-radius: 0;
}
.header-item:hover {
  color: #636e75;
}
.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #f1f5f7;
  padding: 3px;
}
.user-dropdown .dropdown-item i {
  display: inline-block;
}
.noti-icon i {
  font-size: 22px;
  color: #636e75;
}
.noti-icon .noti-dot {
  position: absolute;
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #ff3d60;
  border-radius: 50%;
  top: 20px;
  right: 14px;
}
.notification-item .media {
  padding: 0.75rem 1rem;
}
.notification-item .media:hover {
  background-color: #f1f5f7;
}

.fullscreen-enable [data-toggle="fullscreen"] .ri-fullscreen-line:before {
  content: "\ed73";
}

 .navbar-brand-box {
  background: #34546D;
}

@media (max-width: 600px) {
  .navbar-header .dropdown {
    position: static;
  }
  .navbar-header .dropdown .dropdown-menu {
    left: 10px !important;
    right: 10px !important;
  }
}
@media (max-width: 380px) {
  .navbar-brand-box {
    display: block;
    width: 100px;
    margin-right: 20px;
    padding-top: 5px;
   
  }
  .navbar-brand-box a h3 {    
    font-size: 90%;
  }
}
.page-title-box {
  padding-bottom: 24px;
}
.page-title-box .breadcrumb {
  background-color: transparent;
  padding: 0;
}
.page-title-box h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.vertical-collpsed .footer {
  left: 70px;
}



@media (max-width: 767.98px) {
  .slimscroll-menu {
    height: auto !important;
  }
}

.vertical-menu {
  width: 300px;
  z-index: 1001;
  background: #34546D;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 70px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
@media (min-width: 992px) {
  .main-content {
    margin-left: 300px;    
    overflow: hidden;
  }
  
}
.main-content.active{
  margin-left: 0;
}
.main-content .content {
  padding: 0 15px 10px 15px;
  margin-top: 70px;
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: 0.05em;  
  cursor: pointer;
  font-size: 11px;
  text-transform: uppercase;
  color: #505d69;
  font-weight: 600;
  font-family: Inter, sans-serif;
  opacity: 0.5;
}
.menu-title:hover {
  border: none !important;
}

@media (max-width: 300px) {
 
  .main-content {
    margin-left: 0 !important;
  }
  .main-sidebar.sidebar-enable .vertical-menu {
    display: block;
  }
  .vertical-collpsed .main-content {
    margin-left: 0px;
  }
}
/* @media only screen and (max-width: 768px) {
 
  .vertical-menu {
    display: none;
  }
} */
/* .vertical-collpsed .navbar-brand-box {
  width: 70px !important;
} */

.vertical-collpsed .logo span.logo-lg {
  display: none;
}
.vertical-collpsed .logo span.logo-sm {
  display: block;
}
.vertical-menu.active {
  position: absolute;
  width: 0px !important;  
  height: 100%;
  z-index: 5;
}
.vertical-menu.active .sidebar-menu {
  display: none;
}
.navbar-brand-box.active {  
  display: flex;
  justify-content: center;
  padding-top: 3px;
  width: 100px;
  margin-right: 20px;   
}

.navbar-brand-box.active a h3 {
  font-size: 90% !important;
  margin-right: 20px;
}
/* .vertical-collpsed .sidebar-menu {
  position: absolute;
  width: 70px !important;
  z-index: 5;
} */
.vertical-collpsed .vertical-menu .simplebar-content-wrapper,
.vertical-collpsed .vertical-menu .simplebar-mask {
  overflow: visible !important;
}
.vertical-collpsed .vertical-menu .simplebar-scrollbar {
  display: none !important;
}
.vertical-collpsed .vertical-menu .simplebar-offset {
  bottom: 0 !important;
}
.vertical-collpsed .vertical-menu #sidebar-menu .badge,
.vertical-collpsed .vertical-menu #sidebar-menu .collapse.in,
.vertical-collpsed .vertical-menu #sidebar-menu .menu-title {
  display: none !important;
}
.vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
  height: inherit !important;
}
.vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
  display: none;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
  min-height: 55px;
  -webkit-transition: none;
  transition: none;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:active,
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:focus,
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:hover {
  color: #383c40;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
  font-size: 20px;
  margin-left: 4px;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span {
  display: none;
  padding-left: 25px;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  position: relative;
  width: calc(190px + 70px);
  color: #5664d2;
  background-color: #f5f5f5;
  -webkit-transition: none;
  transition: none;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
  color: #5664d2;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a span {
  display: inline;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
  -webkit-box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, 0.1);
  box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, 0.1);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul ul {
  -webkit-box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, 0.1);
  box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, 0.1);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
  color: #7c8a96;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
  color: #383c40;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
  padding: 5px 0;
  z-index: 9999;
  display: none;
  background-color: #fff;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li:hover > ul {
  display: block;
  left: 190px;
  height: auto !important;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li > a span.pull-right {
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li.active a {
  color: #f8f9fa;
}
 .vertical-menu {
  background: #34546D;
}
#sidebar-menu ul li a {
  color: #8590a5;
}
 #sidebar-menu ul li a i {
  color: #8590a5;
}
 #sidebar-menu ul li a:hover {
  color: #d7e4ec;
}
 #sidebar-menu ul li a:hover i {
  color: #d7e4ec;
}
 #sidebar-menu ul li ul.sub-menu li a {
  color: #8590a5;
}
 #sidebar-menu ul li ul.sub-menu li a:hover {
  color: #d7e4ec;
}
.main-sidebar[data-sidebar="dark"].vertical-collpsed {
  min-height: 1400px;
}
.main-sidebar[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a {
  background: #293041;
  color: #d7e4ec;
}
.main-sidebar[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a
  i {
  color: #d7e4ec;
}
.main-sidebar[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > ul
  a {
  color: #8590a5;
}
.main-sidebar[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > ul
  a:hover {
  color: #383c40;
}
.main-sidebar[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  ul {
  background-color: #fff;
}
.main-sidebar[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active {
  color: #5664d2 !important;
}
.main-sidebar[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active
  i {
  color: #5664d2 !important;
}
.main-sidebar[data-sidebar="dark"] .mm-active {
  color: #d7e4ec !important;
}
.main-sidebar[data-sidebar="dark"] .mm-active > i {
  color: #d7e4ec !important;
}
.main-sidebar[data-sidebar="dark"] .mm-active .active {
  color: #d7e4ec !important;
}
.main-sidebar[data-sidebar="dark"] .mm-active .active i {
  color: #d7e4ec !important;
}
.main-sidebar[data-sidebar="dark"] .menu-title {
  color: #8590a5;
}
.main-sidebar[data-layout="horizontal"] .main-content {
  margin-left: 0 !important;
}
.main-sidebar[data-sidebar-size="small"] .navbar-brand-box {
  width: 160px;
}
@media (max-width: 992px) {
  .main-sidebar[data-sidebar-size="small"] .navbar-brand-box {
    width: auto;
  }
}
.main-sidebar[data-sidebar-size="small"] .vertical-menu {
  width: 160px;
  text-align: center;
}
.main-sidebar[data-sidebar-size="small"] .vertical-menu .badge,
.main-sidebar[data-sidebar-size="small"] .vertical-menu .has-arrow:after {
  display: none !important;
}
.main-sidebar[data-sidebar-size="small"] .main-content {
  margin-left: 160px;
}
.main-sidebar[data-sidebar-size="small"] .footer {
  left: 160px;
}
@media (max-width: 991px) {
  .main-sidebar[data-sidebar-size="small"] .footer {
    left: 0;
  }
}
.main-sidebar[data-sidebar-size="small"] #sidebar-menu ul li.menu-title {
  background-color: #293041;
}
.main-sidebar[data-sidebar-size="small"] #sidebar-menu ul li a i {
  display: block;
}
.main-sidebar[data-sidebar-size="small"] #sidebar-menu ul li ul.sub-menu li a {
  padding-left: 1.5rem;
}
.main-sidebar[data-sidebar-size="small"]
  #sidebar-menu
  ul
  li
  ul.sub-menu
  li
  ul.sub-menu
  li
  a {
  padding-left: 1.5rem;
}
.main-sidebar[data-sidebar-size="small"].vertical-collpsed .main-content {
  margin-left: 70px;
}
.main-sidebar[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu {
  text-align: left;
}
.main-sidebar[data-sidebar-size="small"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li
  > a
  i {
  display: inline-block;
}
.main-sidebar[data-sidebar-size="small"].vertical-collpsed .footer {
  left: 70px;
}
.main-sidebar[data-sidebar="colored"] .vertical-menu {
  background-color: #5664d2;
}
.main-sidebar[data-sidebar="colored"] .navbar-brand-box {
  background-color: #5664d2;
}
.main-sidebar[data-sidebar="colored"] .navbar-brand-box .logo-dark {
  display: none;
}
.main-sidebar[data-sidebar="colored"] .navbar-brand-box .logo-light {
  display: block;
}
.main-sidebar[data-sidebar="colored"] .mm-active {
  color: #fff !important;
}
.main-sidebar[data-sidebar="colored"] .mm-active .active,
.main-sidebar[data-sidebar="colored"] .mm-active > i {
  color: #fff !important;
}
.main-sidebar[data-sidebar="colored"] #sidebar-menu ul li.menu-title {
  color: rgba(255, 255, 255, 0.6);
}
.main-sidebar[data-sidebar="colored"] #sidebar-menu ul li a {
  color: rgba(255, 255, 255, 0.6);
}
.main-sidebar[data-sidebar="colored"] #sidebar-menu ul li a i {
  color: rgba(255, 255, 255, 0.6);
}
.main-sidebar[data-sidebar="colored"] #sidebar-menu ul li a.waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.1);
}
.main-sidebar[data-sidebar="colored"] #sidebar-menu ul li ul.sub-menu li a {
  color: rgba(255, 255, 255, 0.5);
}
.main-sidebar[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a {
  background-color: #34546D;
  color: #fff;
}
.main-sidebar[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a
  i {
  color: #fff;
}
.main-sidebar[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active {
  color: #5664d2 !important;
}
.topnav {
  background: #34546D !important;
  padding: 0 calc(24px / 2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  margin-top: 70px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}
.topnav .topnav-menu {
  margin: 0;
  padding: 0;
}
.topnav .navbar-nav .nav-link {
  font-size: 15px;
  position: relative;
  padding: 1rem 1.3rem;
  color: #74788d;
  font-family: Inter, sans-serif;
}
.topnav .navbar-nav .nav-link i {
  font-size: 15px;
  vertical-align: middle;
  display: inline-block;
}
.topnav .navbar-nav .nav-link:focus,
.topnav .navbar-nav .nav-link:hover {
  color: #5664d2;
  background-color: transparent;
}
.topnav .navbar-nav .dropdown-item {
  color: #74788d;
}
.topnav .navbar-nav .dropdown-item.active,
.topnav .navbar-nav .dropdown-item:hover {
  color: #5664d2;
}
.topnav .navbar-nav .nav-item .nav-link.active {
  color: #5664d2;
}
.topnav .navbar-nav .dropdown.active > a {
  color: #5664d2;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .main-sidebar[data-layout="horizontal"] .container-fluid,
  .main-sidebar[data-layout="horizontal"] .navbar-header {
    max-width: 85%;
  }
}
@media (min-width: 992px) {
  .topnav .navbar-nav .nav-item:first-of-type .nav-link {
    padding-left: 0;
  }
  .topnav .dropdown-item {
    padding: 0.5rem 1.5rem;
    min-width: 180px;
  }
  .topnav .dropdown.mega-dropdown .mega-dropdown-menu {
    left: 0;
    right: auto;
  }
  .topnav .dropdown .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .topnav .dropdown .dropdown-menu .arrow-down::after {
    right: 15px;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
    position: absolute;
  }
  .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
    position: absolute;
    top: 0 !important;
    left: 100%;
    display: none;
  }
  .topnav .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .topnav .dropdown:hover > .dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbar-toggle {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
    right: 100%;
    left: auto;
  }
}
@media (max-width: 991.98px) {
  .navbar-brand-box .logo-dark {
    display: block;
  }
  .navbar-brand-box .logo-dark span.logo-sm {
    display: block;
  }
  .navbar-brand-box .logo-light {
    display: none;
  }
  .topnav {
    max-height: 360px;
    overflow-y: auto;
    padding: 0;
  }
  .topnav .navbar-nav .nav-link {
    padding: 0.75rem 1.1rem;
  }
  .topnav .dropdown .dropdown-menu {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 15px;
  }
  .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl {
    width: auto;
  }
  .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl .row {
    margin: 0;
  }
  .topnav .dropdown .dropdown-item {
    position: relative;
    background-color: transparent;
  }
  .topnav .dropdown .dropdown-item.active,
  .topnav .dropdown .dropdown-item:active {
    color: #5664d2;
  }
  .topnav .arrow-down::after {
    right: 15px;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .main-sidebar[data-layout="horizontal"][data-topbar="light"]
    .navbar-brand-box
    .logo-dark {
    display: block;
  }
  .main-sidebar[data-layout="horizontal"][data-topbar="light"]
    .navbar-brand-box
    .logo-light {
    /* display: none; */
  }
  .main-sidebar[data-layout="horizontal"][data-topbar="light"] .topnav {
    background-color: #34546D;
  }
  .main-sidebar[data-layout="horizontal"][data-topbar="light"]
    .topnav
    .navbar-nav
    .nav-link {
    color: rgba(255, 255, 255, 0.6);
  }
  .main-sidebar[data-layout="horizontal"][data-topbar="light"]
    .topnav
    .navbar-nav
    .nav-link:focus,
  .main-sidebar[data-layout="horizontal"][data-topbar="light"]
    .topnav
    .navbar-nav
    .nav-link:hover {
    color: rgba(255, 255, 255, 0.9);
  }
  .main-sidebar[data-layout="horizontal"][data-topbar="light"]
    .topnav
    .navbar-nav
    > .dropdown.active
    > a {
    color: rgba(255, 255, 255, 0.9) !important;
  }
}
.main-sidebar[data-layout-size="boxed"] {
  background-color: #dee7ec;
}
.main-sidebar[data-layout-size="boxed"] #layout-wrapper {
  background-color: #f1f5f7;
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.main-sidebar[data-layout-size="boxed"] #page-topbar {
  max-width: 1300px;
  margin: 0 auto;
}
.main-sidebar[data-layout-size="boxed"] .footer {
  margin: 0 auto;
  max-width: calc(1300px - 300px);
}
.main-sidebar[data-layout-size="boxed"].vertical-collpsed .footer {
  max-width: calc(1300px - 70px);
}
.main-sidebar[data-layout="horizontal"][data-layout-size="boxed"] #layout-wrapper,
.main-sidebar[data-layout="horizontal"][data-layout-size="boxed"] #page-topbar,
.main-sidebar[data-layout="horizontal"][data-layout-size="boxed"] .footer {
  max-width: 100%;
}
.main-sidebar[data-layout="horizontal"][data-layout-size="boxed"] .container-fluid,
.main-sidebar[data-layout="horizontal"][data-layout-size="boxed"] .navbar-header {
  max-width: 1300px;
} 



.font-size-24 {
  font-size: 24px !important;
}


[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: 0;
  right: 0 !important;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  visibility: visible;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  padding: 0 !important;
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}
.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 6px;
  min-height: 10px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}
.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.custom-scroll {
  height: 100%;
}

.img-flag {
  margin-right: 7px;
  height: 15px;
  width: 18px;
}

/*
  custom lifthub style
*/

.card {
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f1f5f7;
    border-radius: .25rem;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.card-list{
  border-radius: .55rem;
  display: flex;
  justify-content: space-between;
  height: 65px;
  position: relative;
  background: #1F78FA !important; 
}
.card-list-left{
  background: #fff;
  border-radius: .55rem;  
  height: 65px;
  flex: 100%;
}
.card-list img{
  width:  100%;
  height: 65px;
  border-top-left-radius: .55rem;
  border-bottom-left-radius: .55rem;
}
.btn-right{
  height: 80px;  
}
.p-detail{
  font-size: 1rem;
  font-weight: 600;
  color: #7F878F;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .p-detail{
    font-size: .8rem;
   
    color: #7F878F;
  }
}
.search-form{
  margin-top: 10px;
    position: relative;
    width: 230px;
}
.search-form .form-control {
  z-index: 1000;
  border: 1px solid #CDD6E6;
  border-radius: 50px;
  color: #fff;
  height: 40px;
  padding: 10px 50px 10px 15px;
}
.search-form .btn {
  background-color: transparent;
  border-color: transparent;
  /* color: rgba(255, 255, 255, 0.7); */
  min-height: 40px;
  padding: 7px 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.search-form .btn i {
  
}
.btn-view{
  background: #18A0FB;
  border: none; 
  margin-top: 15px;
  padding: 12px 35px;
  border-radius: 20px;
  vertical-align: middle;
}
.avater-box{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #E8F5FF;
  padding-top: 6px;
  text-align: center;
}
.avater-box img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.avater-box i {
  color: #18A0FB;  
  font-size: 60px;
}
.dropzone {
  min-height: 230px;
  border: 2px dashed #ced4da;
  background: #fff;
  padding: 20px 20px;
  border-radius: 6px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone .dz-message {
  font-size: 24px;
  width: 100%;
}

.dropzone .dz-message {
  text-align: center;
  margin: 1em 0;
}

.addspace  .form-control{
  border-radius: 20px;
  padding-right: 10px;
}
.custom-control-label{
  font-weight: normal;
}

.addspace .btn {
  border: none;
  background: #18A0FB;
  width: 250px;
  border-radius: 20px;

}

/**
sidebar begin
***/

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 10px 0 30px 0;
  }

  .sidebar-menu > li > a {
      padding: 12px 5px 12px 15px;
      display: block;
      font-size: 15px;
      border-left: 3px solid transparent;
      color: #b8c7ce; 
  }
 
    .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
      color: #fff;
      
      border-left-color: #3f4966; }
    .sidebar-menu > li > .treeview-menu {
      margin: 0 1px;
       }
 
  
  .sidebar-menu li > a > .fa-angle-right {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
  .sidebar-menu li.active > a > .fa-angle-right {
    transform: rotate(-90deg); }
  .sidebar-menu li.active > .treeview-menu {
    display: block; }
  .sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none; }
  .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px; }
    .sidebar-menu .treeview-menu .treeview-menu {
      padding-left: 20px; }
    .sidebar-menu .treeview-menu > li {
      margin: 0; }
      .sidebar-menu .treeview-menu > li > a {
        padding: 15px 5px 5px 35px;
        display: block;
        font-size: 16px;
        color: #8aa4af; }
        .sidebar-menu .treeview-menu > li > a > .fa {
          width: 20px; }
        .sidebar-menu .treeview-menu > li > a > .fa-angle-right,
        .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
          width: auto; }
      .sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
        color: #fff; }