<div>
  
    <section class="top-container search-panel header-banner">
      <img
        src="assets/img/event-space-venue-rental-resized.jpg"
        alt="Event space and event venue rental Nigeria"
        title="Rent the best event spaces and event venues in Nigeria"
        style="
          position: absolute;
          top: 0px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        "
      />
      <div class="container text-center">
        <h1 class="main-tagline text-center">
          Rent a venue space for your meeting,<br />event, function or
          party in Nigeria
        </h1>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="filter-container filter-home-container text-left">
          <div class="filter-option event-selection">            
            <select class="select-event" formControlName="space">
            <option value="" disabled selected>Select Event *</option>
              <option *ngFor="let val of spaceType" [ngValue]="val.value"><a>{{val.label}}</a></option>             
            </select>
          </div>
          <div class="filter-option duration-selection">
            <select class="select-event" formControlName="location">
              <option value="" disabled selected>Location</option>
                <option *ngFor="let val of location" [ngValue]="val.value"><a>{{val.label}}</a></option>             
              </select>
          </div>
          <div class="filter-option capacity-selection">
            <select class="select-event" formControlName="capacity">
              <option value="" disabled selected>Capacity</option>
                <option *ngFor="let val of capacity" [ngValue]="val.value"><a>{{val.label}}</a></option>             
              </select>
          </div>
          <div class="filter-option search-btn-container">
            <button type="submit" [disabled]="disabledSubmitButton" class="trigger-btn search-btn">Search</button>
          </div>
        </form>
      </div>
    </section>
    <section class="sub-section-container initial-fold">
      <div class="container">
        <div class="venue-signup-left">
          <h2 class="text-center">
            Find the perfect venue for your event
          </h2>
          <br />
          <p class="text-center">
            Whether you are organizing a company dinner, throwing a
            private party, planning a networking event,<br />or conducting
            a training workshop, Lifthub has the perfect venue for
            your event.<br />Browse our platform of over 300 venues and
            find the best event space for your needs.
          </p>
          <br />
          <hr />
          <br />
          <h2 class="text-center">How it works</h2>
          <br />
          <ul class="row">
            <li class="col-sm-4">
              <img src="assets/img/search.png" style="height: 40px;" />
              <h4>Search Venues</h4>
              <br />Search from over 300 curated<br class="hidden-xs" />
              event venues in Nigeria<br class="hidden-xs" />
              with awesome spaces to rent
            </li>
            <li class="col-sm-4">
              <img src="assets/img/shortlist.png" style="height: 40px;" />
              <h4>Shortlist the Best</h4>
              <br class="hidden-xs" />
              Filter based on your specific<br class="hidden-xs" />
              requirements to find the most<br class="hidden-xs" />
              suitable spaces for your event
            </li>
            <li class="col-sm-4">
              <img src="assets/img/quotes.png" style="height: 40px;" />
              <h4>Book Space</h4>
              <br class="hidden-xs" />
              Book single or multiple<br class="hidden-xs" />
              spaces and and make secure<br class="hidden-xs" />
              payment for your event fuss-free
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="content-container home-container first-fold">
      
      <div class="container">
        <h2 class="text-center">Find any type of space</h2>
        <p class="text-center">
          Fancy a cosy conference room for your meeting? How about a
          rooftop bar for your product launch?<br />If you’re a tour group
          or a company needing to dine together, we’ve got you covered.
        </p>
        <ul class="row">
          <li class="col-sm-4">
            <a
            (click)="goto('office/private')"
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/privateoffice.jpg"
                  alt="Indoor event space and event venue rental Nigeria"
                  title="Rent the best indoor event spaces and event venues in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Private office space</li>
                </ul>
              </div></a
            >
          </li>
          <li class="col-sm-4">
            <a
            (click)="goto('office/co-working')"
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/workspaces.jpg"
                  alt="Indoor event space and event venue rental Nigeria"
                  title="Rent the best indoor event spaces and event venues in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Co-working space</li>
                </ul>
              </div></a
            >
          </li>
          <li class="col-sm-4">
            <a
            (click)="goto('office/open')"
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/Open-Office.jpg"
                  alt="Indoor event space and event venue rental Nigeria"
                  title="Rent the best indoor event spaces and event venues in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Open office space</li>
                </ul>
              </div></a
            >
          </li>
          <li class="col-sm-6">
            <a
            (click)="goto('events/private meeting')"
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/indoor-event-space-venue-rental-small.jpg"
                  alt="Indoor event space and event venue rental Nigeria"
                  title="Rent the best indoor event spaces and event venues in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Private Meeting Spaces</li>
                </ul>
              </div></a
            >
          </li>
          <li class="col-sm-6">
            <a
            (click)="goto('events/trainings')"
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/outdoor-event-space-venue-rental-small.jpg"
                  alt="Outdoor event space and event venue rental Nigeria"
                  title="Rent the best outdoor event spaces and event venues in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Event & Training Spaces</li>
                </ul>
              </div></a
            >
          </li>          
        </ul>
        <ul class="row">
          <li class="col-sm-4">
            <a
            (click)="goto('events/group meeting')"
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/group-dinner-event-space-venue-rental-small.jpg"
                  alt="Group dinner event space and event venue rental Nigeria"
                  title="Rent the best group dinner event spaces and event venues in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Group Dinners</li>
                </ul>
              </div></a
            >
          </li>
          <li class="col-sm-4">
            <a (click)="goto('events/picnics')" class=""
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/private-party-venue-rental-small.jpg"
                  alt="Private party venue rental Nigeria"
                  title="Rent the best party spaces in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Private Party Spaces</li>
                </ul>
              </div></a
            >
          </li>
          <li class="col-sm-4">
            <a (click)="goto('events/conference')" class=""
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/corporate-event-venue-rental-small.jpg"
                  alt="Corporate event venue rental Nigeria"
                  title="Rent the best corporate event spaces in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Corporate Event Spaces</li>
                </ul>
              </div></a
            >
          </li>
        </ul>
        <ul class="row">
          <li class="col-sm-4">
            <a (click)="goto('events/reception')" class=""
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/function-rooms-and-halls-rental-small.jpg"
                  alt="Function rooms and halls rental Nigeria"
                  title="Rent the best function rooms and halls in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Function Rooms</li>
                </ul>
              </div></a
            >
          </li>
          <li class="col-sm-4">
            <a (click)="goto('events/meetups')" class=""
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/meeting-and-conference-rooms-rental-small.jpg"
                  alt="Meeting and conference rooms rental Nigeria"
                  title="Rent the best meeting and conference rooms in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Meeting Rooms</li>
                </ul>
              </div></a
            >
          </li>
          <li class="col-sm-4">
            <a (click)="goto('events/seminars')" class=""
              ><div class="space-type-option" style="min-height: 280px;">
                <img
                  src="assets/img/training-seminar-class-rooms-rental-small.jpg"
                  alt="Training seminar class rooms rental Nigeria"
                  title="Rent the best training seminar class rooms in Nigeria"
                  style="
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  "
                />
                <ul>
                  <li class="h3">Seminar Rooms</li>
                </ul>
              </div></a
            >
          </li>
        </ul>
        <div class="row justify-content-center my-3">
            <button (click)="goto('events/private meeting')" class="btn btn-warning text-light">View all Spaces</button>
        </div>
      </div>
    </section> 
    
    <div class="row justify-content-center text-center my-5">
        <div class="col-md-12">
          <h3 class="h1-responsive font-weight-bold ">Advert</h3>
        </div>
    </div>
    
    <div id="carouselExampleIndicators" class="carousel slide text-center my-5 first-fold" data-ride="carousel">
      <h2 class="h1-responsive font-weight-bold pt-5 my-5">Testimonials</h2>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner mb-5">
        <div class="carousel-item active">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://answersafrica.com/wp-content/uploads/2015/05/iaboyeji-1024x790.jpg" class="rounded-circle img-fluid"
                alt="First sample avatar image">
            </div>
            <!--Content-->
            <p>
              <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
              eos
              id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore
              sit, aspernatur praesentium iste impedit quidem dolor veniam.
            </p>
            <h4 class="font-weight-bold">Joseph Haruna</h4>
            <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
            <!--Review-->
            
          </div>
        </div>       
        <div class="carousel-item">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://guardian.ng/wp-content/uploads/2020/03/Busola-Dakolo.jpg" class="rounded-circle img-fluid"
                alt="Second sample avatar image">
            </div>
            <!--Content-->
            <p>
              <i class="fa fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
              porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
              non numquam eius modi tempora incidunt ut labore. </p>
            <h4 class="font-weight-bold">Kate Nta</h4>
            <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
            <!--Review-->
            
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://guardian.ng/wp-content/uploads/2017/01/Ada-7_1_crop.jpg" class="rounded-circle img-fluid"
                alt="Third sample avatar image">
            </div>
            <!--Content-->
            <p>
              <i class="fa fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
              error sit voluptatem accusantium doloremque laudantium.</p>
            <h4 class="font-weight-bold">Mary Akinade</h4>
            <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
            <!--Review-->
          
          </div>
        </div>
      </div>
    
    </div>
    <!-- Section: Testimonials v.2 --> 
  </div>
  