<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Dashboard</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item h4"><a href="javascript: void(0);">Report</a></li>
                            <li class="breadcrumb-item active h4">Dashboard</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row px-3">
            <div class="col-md-8 px-5">
                <div class="row"> 
                    <a href="" class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body overflow-hidden">                                                        
                                        <img style="width: 70px;" src="https://image.freepik.com/free-vector/isolated-isometric-office-composition-workplace-with-desk-monitor-chair-table-vector-illustration_1284-30906.jpg" alt="">
                                    </div>
                                    <div class="text-secondary">                                                        
                                        <h3 class="mx-3">Total spaces occupied</h3>
                                        <div class="d-flex mx-3 my-4">
                                            <h5 class="pr-2"><strong>04</strong></h5>  <h5><u>View More</u></h5>

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>                                           
                        </div>
                    </a>
                    <a href="" class="col-md-12">
                        <div class="card"><div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Dashboard</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item h4"><a href="javascript: void(0);">Report</a></li>
                            <li class="breadcrumb-item active h4">Dashboard</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row px-3">
            <div class="col-md-8 px-5">
                <div class="row"> 
                    <a href="" class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body overflow-hidden">                                                        
                                        <img style="width: 70px;" src="https://image.freepik.com/free-vector/isolated-isometric-office-composition-workplace-with-desk-monitor-chair-table-vector-illustration_1284-30906.jpg" alt="">
                                    </div>
                                    <div class="text-secondary">                                                        
                                        <h3 class="mx-3">Total spaces occupied</h3>
                                        <div class="d-flex mx-3 my-4">
                                            <h5 class="pr-2"><strong>04</strong></h5>  <h5><u>View More</u></h5>

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>                                           
                        </div>
                    </a>
                    <a href="" class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body overflow-hidden">                                                        
                                        <h4 class="pt-2mb-0">Earned History</h4>
                                    </div>
                                    <h4 class="text-secondary mx-4">                                                                                                        
                                        <p>Yearly</p>
                                    </h4>
                                    <h4 class="text-primary">                                                                                                        
                                        <p>Monthly</p>
                                    </h4>
                                </div>
                            </div>                                           
                        </div>
                    </a>  
                </div>                               
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                
                                <h3 class="mb-0 py-3">Notifications</h3>
                            </div>                                           
                        </div>
                        <table  class="table mt-2 notifications">
                            <tr>
                                <td>Brown Samson Just made a payment..</td>
                                <td>3mins</td>
                            </tr>
                            <tr>
                                <td>Lifthub updated their policy..</td>
                                <td>5mins</td>
                            </tr>
                            <tr>
                                <td>You have 4 days left to renew..</td>
                                <td>3mins</td>
                            </tr>
                           
                        </table>
                    </div>                                           
                </div>
            </div>

           
        </div>
        
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body overflow-hidden">                                                        
                                        <h4 class="pt-2mb-0">Spent History</h4>
                                    </div>
                                    <h4 class="text-secondary mx-4">                                                                                                        
                                        <p>Yearly</p>
                                    </h4>
                                    <h4 class="text-primary">                                                                                                        
                                        <p>Monthly</p>
                                    </h4>
                                </div>
                            </div>                                           
                        </div>
                    </a>  
                </div>                               
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                
                                <h3 class="mb-0 py-3">Notifications</h3>
                            </div>                                           
                        </div>
                        <table  class="table mt-2 notifications">
                            <tr>
                                <td>Brown Samson Just made a payment..</td>
                                <td>3mins</td>
                            </tr>
                            <tr>
                                <td>Lifthub updated their policy..</td>
                                <td>5mins</td>
                            </tr>
                            <tr>
                                <td>You have 4 days left to renew..</td>
                                <td>3mins</td>
                            </tr>
                           
                        </table>
                    </div>                                           
                </div>
            </div>

           
        </div>
        
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
