<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-center">
                    <h4 class="mt-5 text-center">Change Password</h4>

                    

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row px-3 justify-content-center">
            <div class="col-md-8  ">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div  class="row card p-5 ">
                        <div class="form-group my-4">
                          <!-- <label for="exampleInputEmail1">Old Password</label> -->
                          <input type="password" class="form-control" formControlName="old_password" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }"  placeholder="Old Password">
                          <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                            <div *ngIf="f.old_password.errors.required">Enter your Old Password</div>
                        </div>
                        </div>
                        <div class="form-group my-4">
                          <!-- <label for="exampleInputPassword1">New Password</label> -->
                          <input type="password" class="form-control" formControlName="new_password" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }"  placeholder="New Password">
                          <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                            <div *ngIf="f.new_password.errors.required">Enter New Password</div>
                        </div>
                        </div>
                        <div class="form-group my-4">
                          <!-- <label for="exampleInputPassword1">Confirm Password</label> -->
                          <input type="password" class="form-control" formControlName="confirm_password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }"  placeholder="Confirm Password">
                          <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                            <div *ngIf="f.confirm_password.errors.required">Password Must Match</div>
                            <div *ngIf="f.confirm_password.errors.mustMatch">Password Must Match</div>
                        </div>
                        </div>
                    </div>     
                    <button type="submit" class="btn btn-primary px-5  float-right">Update Password</button>
                </form>                                                                         
            </div>
           

           
        </div>
        
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
