
<div class="row forgot-container justify-content-center align-item-center px-5">
    <h5 class="text-center text-success">{{successMsg}}</h5>
    <h5 class="text-center text-danger">{{errMsg}}</h5>
    <div class="col-md-12 text-center mb-1">
        <h3>Reset Password</h3>
       
    </div>
   <div class="col-md-6 ">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="md-form mb-3">
                    <label for="Form-email1">Your email</label>
                    <input type="email" id="Form-email1" placeholder="Email" class="form-control" mdbInput mdbValidate
                    [formControl]="userEmail">
                    <span class="text-danger py-1"
                    *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
                    Input invalid
                  </span>
                  <span class="text-success"
                    *ngIf="userEmail.valid && (userEmail.dirty || userEmail.touched)">Input
                    valid
                  </span>
                </div>
            
                <div class="text-center mt-2">
                  <button (click)="forgot()" type="submit" mdbBtn color="warning" [disabled]="disabledSubmitButton" block="true" rounded="true" class="z-depth-1a waves-light btn btn-warning btn-rounded btn-block"
                          mdbWavesEffect>Sign Up
                  </button>
                </div>
              </form>
        </div>
    </div>
   </div>
</div>
